
$primary-color:#007cdc;
$secondary-color:#17161a;
$tertiary-color:#76d123;
$text-black:#000;
$heading-color:#17161A;
$secondary-text-color:#8b8a8d;
$footer-text-color:rgba(255,255,255,0.8);
$footer-bg-color:#17161a;
$bg-color: #f9f9f9;
$white-color: #fff;
$bg-black:#17161a;
$site-border-color: rgba(23,22,26,.04);
$subTitle-color: rgba(35, 34, 38, 0.8);
$scroll-bar-color: #6b6c6d82;