.company-services{
    .body{
        padding: 50px;
    }
    ul{
        li{
            font-size: 17px;
            font-weight: 600;
            margin-top: 10px;
        }
    }
    .image-wrapper{
        height: 100%;
    }
}
.our-strategy{
    padding-left: 100px;
}
.about-company{
    padding: 100px 0 80px 0;
}

@media screen and (max-width:992px){
    .about-company{
        .right-section{
            margin-top: 60px;
        }
      
    }
    .about-wrapper{
        .company-services{
            .body{
                padding: 30px 0;
            }
        } 
    }   
}    
 
@media screen and (max-width:768px){
    .main-section{
        .page-heading{
            font-size: 40px;
        }
        .heading{
            font-size: 30px;
        }
    }
    .about-wrapper{
        .about-company {
            padding: 60px 0 40px 0; 
        }
  }
} 