.company-services{
    .body{
        padding: 50px;
    }
    ul{
        li{
            font-size: 17px;
            font-weight: 600;
            margin-top: 10px;
        }
    }
    .image-wrapper{
        height: 100%;
    }
}
.why-choose-section{
    background-color: $bg-color;
        .description-details{
            -webkit-line-clamp: inherit;
            -webkit-box-orient: inherit;
        }
        .borders-wrapper{
            .left-site-border{
                left: 65px;
            }
            .middle-site-border{
                margin-left: calc(43.4% - 5px);
            }
            .center-site-border{
                margin-left: calc(70.2% - 5px);
            }
        }
}
.optimize-services{
    .right-body{
        padding: 60px 60px 100px;
        .title{
            font-size: 40px;
        }
    }
    .optimize-services-list{
        li{
            padding: 6px 0;
        }
    }
    .image{
        margin-top: 80px;
    }
    
}
.our-strategy{
    padding-left: 100px;
}
.about-company{
    padding: 100px 0 80px 0;
}

@media screen and (max-width:1200px){
    .borders-wrapper{
        display: none;
    }
}

@media screen and (max-width:992px){
    .about-company{
        .right-section{
            margin-top: 60px;
        }
    }
    
    .optimize-services{ 
        .right-body{
            padding: 20px 20px 40px;
        }
        .image{
            margin-top: 0;
        }
    }    
    .about-wrapper{
        .company-services{
            .body{
                padding: 30px 0;
            }
        } 
    }   
}    
 
@media screen and (max-width:768px){

    .main-section{
        .page-heading{
            font-size: 40px;
        }
        .heading{
            font-size: 30px;
        }
    }
    .why-choose-section{
        padding: 50px 0 20px 0;
    }
    .about-wrapper{
        .about-company {
            padding: 60px 0 40px 0; 
        }
    }
} 