.company-services{
    .body{
        padding: 50px;
    }
    ul{
        li{
            font-size: 17px;
            font-weight: 600;
            margin-top: 10px;
        }
    }
}
.our-strategy{
    padding-left: 100px;
}
.about-company{
    padding: 100px 0 80px 0;
}