.top-wrap{
    margin: 0 0 50px 0;
}
.career-wrapper{
    .job-overview-section{
        width: 780px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 60px;
        .job-overviews{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 28px 24px;
            align-items: center;
            background: $white;
            overflow: hidden;
            box-shadow: 0 0 6px rgba(106,125,165,.1), 0 10px 35px rgba(106,125,165,.1);
                button{
                    background-color: $secondary-color;
                    border-color: transparent;
                        &:hover{
                            background-color: $primary-color;
                        }
                        a{
                            color: $white;
                            font-size: 15px;
                                
                        }
                }
                .job-title{
                    color: $secondary-color;
                        &:hover{
                            color: $primary-color;
                        }
                }                
        }
        .react-out-text{
            color: $secondary-color;
            font-family: SpaceGrotesk-Bold; 
                &:hover{
                    color: $primary-color;
                }
        }
    }
    .content{
        padding-bottom: 10px;
    }
}
.job-article{
    ul{
        padding-left: 30px;
        list-style: none;
        li {
            margin-bottom: 16px;
            padding-left: 32px;
            background: url(../../images/bullet.svg) no-repeat 0 4px transparent;        
        }
    }
}
.content{
    padding-top:100px;
    padding-bottom: 50px;
        p{
            a{
                font-family: SpaceGrotesk-Bold;
                color: $secondary-color;
            }
        }
}


@media screen and (max-width:1024px){
    .content{
        padding-top: 50px ;
        padding-bottom: 50px;
    }
    .career-wrapper{
        .job-overview-section{
            width: 80%;
            padding-top: 0;
            margin: 0;
        }
    }
}
@media screen and (max-width:992px){
    .career-wrapper{
        .right-section{
            padding-top: 60px; 
         }
    }
}   
@media screen and (max-width:768px){
    .career-wrapper{
        .job-overview-section{
            width: 100%;
                .job-article{
                    h3{
                        font-size: 24px;
                    }
                }
        }
        
    }
}
@media screen and (max-width:580px){
    .career-wrapper{
        .job-overview-section{
            .job-overviews{
                flex-direction: column;
                align-items: flex-start;
                padding: 18px 24px;
                    .button{
                        margin-top: 15px;
                    }

            }
        }
    }
}