.contact-details {
    padding:35px 0 70px 0;
}
.row{
    margin: 0!important;
}
.contact-wrapper{
    .contact-details{
        .right-section{
            padding: 65px 50px;
            height: 100%;
        }
    }
    .join-team{
        padding:70px 0
    }
    .button{
        background-color: $secondary-color;
        border: transparent;
        padding: 7px 15px;
        font-weight: 600;
        &:hover{
            background-color: $primary-color;
        }
    }
}
@media screen and (max-width:768px){
.contact-wrapper{
    .contact-form {
        padding-right: 0!important;
        margin-bottom: 60px;
     }
     .contact-details {
         padding:0;
     }
     
 }
  
}
@media screen and (max-width:580px){
  .contact-wrapper{
    .input-box{
        flex-basis: auto;
    }
    .contact-details{
        .right-section{
            padding: 50px 16px;
        }
    }
  }
}

