.line-heignt{
    line-height: 1;
}
.services-wrapper{
    .sub-heading{
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
    }
    .what-we-do{
        padding:100px 0 40px 0
    }
}