.line-heignt{
    line-height: 1;
}
.services-wrapper{
    .sub-heading{
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        width: 80%;
    }
}

@media screen and (max-width:992px){
    .services-wrapper{
        .sub-heading{
            padding-bottom: 40px;;
        }
    }
}
@media screen and (max-width:768px){
    .services-wrapper{
        .sub-heading{
            font-size: 30px;
            padding-bottom: 30px;;
        }
        .pb-40{
            padding-bottom: 20px;
        }
    }
}
