.nav-fixed-top{
    box-shadow: 1px 0 6px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding: 12px 30px 14px;
    .header-wrap{
        // padding: 30px 30px 50px;
        .menu-icon {
            cursor: pointer;
            flex-direction: column;
                .top-line{
                    width: 23px;
                }
                .middle-line{
                    width: 23px;
                }
                .bottom-line{
                    width: 14px;
                }
                span{
                    margin: 3px 0;
                    display: block;
                    height: 2px;
                    background-color: $secondary-color;
                }
        }
        .nav-item {
            padding-right: 8px;
        }
        .header-wrap-inner{
            flex-direction:row;
            display: flex;
            height: 100%;
                .right-part{
                    flex: 4;
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                    .nav-link{
                        position: relative;
                        color: $black;
                        padding: 0 22px;
                        // &::before{
                        //     content: '0';
                        //     position: absolute;
                        //     top: 0;
                        //     right: 15px;
                        //     font-size: .6em;
                        //     height: auto;
                        //     background: transparent;
                        //     opacity: .7;
                        // }
                        .link[aria-current=page]{
                            color: $primary-color;
                        }
                        .link{
                            color: $black;
                            &:hover{
                                color: $primary-color;
                                text-decoration: none;
                            }
                        }
                    }
                    .button{
                        background-color: $secondary-color;
                        font-weight: 600;
                        font-size: 14px;
                        border-radius: 4px;
                        padding: 7px 15px;
                        border-color: transparent;
                        font-family: SpaceGrotesk-Bold;
                        &:hover{
                            background-color: $primary-color;
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
                .left-part{
                    flex: 2;
                    flex-direction: row;
                    display:flex;
                    height: 100%;
                    align-items: center;
                    .logo {
                        width: 150px;
                        img{ 
                            margin-bottom: 0;
                            width: 100%;
                        }
                    }
                    .menu-icon{
                        background-color:#fbfbfb;
                        width: 50px;
                        height: 50px;
                        border-radius:100%;
                        margin-right: 15px;
                        a{
                            color: $black;
                        }
                    }
                }
                .tel-icon{
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    background: $primary-color;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    box-shadow: 4px 6px 7px 7px rgba(0, 0, 0, 0.05);
                }
        }
    }
}

.bottom-section{
    padding-left: 45px;
    padding-top: 100px;
    .social-link{
        .circle{
            border-color:lighten( $bg-color, 10% );
            width: 40px;
            height: 40px;
                &:hover{
                    background-color: $primary-color;
                    color: $white;
                    border-color: $primary-color;
                }
            .icon{
                font-size: 20px;
            }
        }
    }
   .info-wrap{
       .info{
           padding-right:40px;
       }
       p{
           color: $secondary-text-color;
           font-size: 16px;
            a{
                font-size: 16px;
                display: inline-block;
                padding-bottom: 7px;
            }
       }
   }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    text-align:center;
    z-index: 11;
        ul{
            li{
                text-align: left;
            }
        }
}
  
.sidenav{
    .link[aria-current=page]{
        color: $primary-color;
    }
    .info{
        width: 35vw;
        text-align: left;
    }
    .link {
        padding: 0 45px;
        text-decoration: none;
        font-size:30px; 
        font-weight: 600;
        text-align: left;
        color: $white;
        transition: 0.3s;
    }
    .closebtn {
        position: absolute;
        top: 1px;
        font-size: 39px;
        left: 14px;
        padding: 0;
    }
    a:hover{
        color: $primary-color;
        text-decoration: none;
    }
    .footer-link{
        color: $secondary-text-color;
    }
}
  
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
@media screen and (max-width: 1200px){
    .nav-fixed-top .header-wrap {
        .header-wrap-inner {
            .right-part{
                justify-content: flex-end;
                .nav-link {
                    padding: 0 12px;
                }
            } 
            
        }
    }
    
}
@media screen and (max-width: 992px){
    .header-wrap{
        // padding: 20px 20px 30px;
        .header-wrap-inner{
            .nav{
                display: none;
            }
            .right-part {
                justify-content: flex-end;
            }
        }
    }

}
@media screen and (max-width: 768px){
    .sidenav{
        padding-top: 90px;
        .link{
            font-size: 25px;
        }
    }
    .info-wrap{
        flex-wrap: wrap;
        .info{
            width: auto;
            margin-bottom: 20px;
        }
    }
    .bottom-section{
        padding-top: 60px;
    }

    

}
@media screen and (max-width: 580px){

    div .nav-fixed-top{
        padding: 7px 10px 9px;
        .header-wrap {
            .header-wrap-inner {
                .tel-icon{
                    height: 35px;
                    width: 35px;
                }
                .left-part {
                    .logo img{
                        width: 80%;
                                
                    }
                    .menu-icon{
                        margin-right: 5px;
                        width: 40px;
                        height: 40px;
                            .top-line,
                            .middle-line{
                                width: 18px;
                            }
                            .bottom-line{
                                width: 12px;
                            }
                    }
                }
                    
            }
        }
    }
    .sidenav{
        padding-top: 50px;
            ul li{
                margin-bottom: 2px;
            }
    }
    .bottom-section{
        padding-top: 40px;
    }
    
}
@media screen and (max-width: 420px){
    .header-wrap {
        // padding-right: 10px;
        // padding-left: 0;
        .header-wrap-inner{
            .left-part{
                .logo {
                    width: 120px;
                }
                .menu-icon{
                    margin-right: 0;
                }
            }
        }
    }  
}