
.header-wrap{
    padding-right: 40px;
    padding-left: 40px;
    height: 130px;
    .menu-icon {
        cursor: pointer;
    }
    .nav-item {
        padding-right: 8px;
    }
    .header-wrap-inner{
        flex-direction:row;
        display: flex;
        height: 100%;
            .right-part{
                flex: 4;
                display: flex;
                justify-content:space-between;
                align-items: center;
                .nav-link{
                    position: relative;
                    color: $text-black;
                    // &::before{
                    //     content: '0';
                    //     position: absolute;
                    //     top: 0;
                    //     right: 15px;
                    //     font-size: .6em;
                    //     height: auto;
                    //     background: transparent;
                    //     opacity: .7;
                    // }
                    .link[aria-current=page]{
                        color: $primary-color;
                    }
                    .link{
                        color: $text-black;
                        font-weight: 600;
                       
                        &:hover{
                            color: $primary-color;
                            text-decoration: none;
                        }
                    }
                }
                .button{
                    background-color: $secondary-color;
                    font-weight: 600;
                    padding: 7px 15px;
                    border-color: transparent;
                    &:hover{
                        background-color: $primary-color;
                    }
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
            .left-part{
                flex: 2;
                flex-direction: row;
                display:flex;
                height: 100%;
                align-items: center;
                .logo {
                    width: 90px;
                    img{ 
                        margin-bottom: 0;
                        width: 100%;
                    }
                }
                .menu-icon{
                    background-color:#fbfbfb;
                    width: 60px;
                    height: 60px;
                    border-radius:100%;
                    margin-right: 15px;
                    a{
                        color: #000;
                    }
                }
            }
    }
  
}

.bottom-section{
    padding-left: 45px;
    padding-top: 100px;
    .social-link{
        .circle{
            border-color: #878787;
            width: 40px;
            height: 40px;
            .icon{
                font-size: 20px;
            }
        }
    }
   .info-wrap{
       .info{
           padding-right:40px;
       }
       p{
           color: $secondary-text-color  ;
       }
   }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
    text-align:center;
  }
  
  .sidenav{
    .link[aria-current=page]{
        color: $primary-color;
    }
    .info{
        width: 25vw;
        text-align: left;
    }
    .link {
        padding: 0 45px;
        text-decoration: none;
        font-size:30px; 
        font-weight: 600;
        text-align: left;
        color: #fff;
        display: block;
        transition: 0.3s;
      
      }
      .closebtn {
        position: absolute;
        top: 0;
        font-size: 36px;
        padding-top:30px;
        left: -54px;
        margin-left: 50px;
      }
      a:hover{
        color: $primary-color;
        text-decoration: none;
      }
      .menu-item{
        color: #f1f1f1;
        font-size: x-large;
        cursor: pointer;
      }
      .footer-link{
          color: $secondary-text-color;
      }
  }
  

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

@media screen and (max-width: 992px){
    .header-wrap{
        padding-left: 20px;
        padding-right: 20px;
        .header-wrap-inner{
            .nav{
                display: none;
            }
            .right-part {
                justify-content: flex-end;
            }
        }
    }

}
@media screen and (max-width: 768px){
    .sidenav{
        padding-top: 90px;
        .link{
            font-size: 25px;
        }
    }
    .info-wrap{
        flex-wrap: wrap;
        .info{
            width: auto;
            margin-bottom: 20px;
        }
    }
.bottom-section{
    padding-top: 60px;
}
}
