.card-wrapper{
    margin-bottom: 60px;
    .heading{
        margin-bottom: 20px;
    }
}
.description-details{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 25px;
}

@media screen and (max-width:768){
    .card-wrapper{
        margin-bottom: 40px;
    }
}