

.services-card-wrapper{
    margin-bottom: 50px;
    background: rgba(23, 22, 26, 0.04);
    border-radius: 4px;
    padding: 30px;
        .body{
            display: flex;
            min-height: 290px;
            flex-direction: column;
                .content{
                    flex: 1 0 auto;
                }
        }
}
.read-more{
    color: #000;
    font-weight: 600;
    &:hover{
        text-decoration: none;
        color: $primary-color;
    }
}
.view{
    color: #fff;
    @extend .read-more
}
@media screen and (max-width:580px){
    .services-card-wrapper{
        .body{
            padding-left: 26px;
        }
    }
}