.services-card-wrapper{
    margin-bottom: 50px;
    background: $gray-light;
    border-radius: 4px;
    padding: 30px;
        .body{
            display: flex;
            min-height: 290px;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
                .content{
                    flex: 1 0 auto;
                    padding: 0;
                }
        }
}
.read-more{
    color: $black;
    font-weight: 600;
    &:hover{
        text-decoration: none;
        color: $primary-color;
    }
}
.view{
    color: $white;
    @extend .read-more
}


@media screen and (max-width:992px){
    .services-card-wrapper{
        padding: 20px;
        margin-bottom: 30px;
    }
}
