.service-menu-list{
    background-color: $gray-light;
    padding: 30px;
        h5{
            border-bottom: 1px solid ;
            padding-bottom: 20px    ;
        }
        ul{
            padding-left: 20px;
            margin-top: 20px;
                li{
                    padding: 6px 0;
                        a{
                            color: $secondary-color;
                                &:hover{
                                    color: $primary-color;
                                }
                        }
                }
        }
}

@media screen and (max-width:768px){
    .service-menu-list{
        display: none;
    }
}