.team-card-wrapper{
    .profile-wrap{
        // width: 160px;
        margin: 0 auto;
        // border-radius: 50%;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        &:hover img{
            transform: scale3d(1.1,1.1,1);
            transition: all cubic-bezier(.4,0,.2,1) .4s;
        }
        img{
            border-radius: 4px;
        }
        .member-details-wrap{
            position: absolute;
            transition: all cubic-bezier(.4,0,.2,1) .4s;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 40px;
            z-index: 1;
            background-image: linear-gradient(to top,rgba(23,22,26,.6),transparent);
            opacity: 0;
            border-radius: 4px;
        }
    }   
    .profile-wrap:hover .member-details-wrap{
        opacity: 1;
    }
 
    .member-name{
        font-weight: 500;
    }
    .circle{
        width: 40px;
        height: 40px;
        &:hover{
            background-color: #fff;
            cursor: pointer;
            .icon{
                color: #000!important;
            }
        }
    }
}