// @import 'base/font';

@import "abstracts/variables";

// 4. Layout-related sections
@import 'layout/header','layout/footer';
 
@import 'component/card','component/team-card','component/accordian','component/button','component/service-card', 'component/service-menu-list', 'component/career-footer';

//pages
@import 'pages/contact','pages/about','pages/career','pages/services','pages/services-details', 'pages/team.scss';
//========= Home page===========//


// Space Grotesk Font 

@font-face{
    font-family: SpaceGrotesk-Regular;
    src: url(../fonts/SpaceGrotesk-Regular.otf);
}
@font-face{
    font-family: SpaceGrotesk-Medium;
    src: url(../fonts/SpaceGrotesk-Medium.otf);
}
@font-face{
    font-family: SpaceGrotesk-Bold;
    src: url(../fonts//SpaceGrotesk-Bold.otf);
}
@font-face{
    font-family: SpaceGrotesk-Light;
    src: url(../fonts/SpaceGrotesk-Light.otf);
}
@font-face{
    font-family: SpaceGrotesk-SemiBold;
    src: url(../fonts/SpaceGrotesk-SemiBold.otf);
}

body{
    font-family: SpaceGrotesk-Regular;
    font-size: 15px;
    color: $secondary-color;
    background-image: url('../../images/shape.png');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
::selection{
    background-color: $primary-color;
    color: $white;
}
::-webkit-scrollbar-thumb{
    background: $scroll-bar-color; 
    border-radius: 2px;
}
::-webkit-scrollbar {
    width: 10px;
}
.main-section{
    .container{
        max-width: 1270px;
        margin: 0 auto;
    } 
}
.banner-main-wrapper.container{
    padding: 40px 24px 60px 24px;
    .heading{
        margin-bottom: 26px;
        font-weight: 700;
        font-size: 20px;
    }
    .right-section{
        background-image: url('../../images/banner.svg');
        background-size: contain;
        height: 100%;
        display: flex;
        align-items: flex-start;
        background-repeat: no-repeat;
        justify-content: center;
        flex-direction: column;
        .featured-details{
            color: $black;
            font-weight: 700;
            &:hover{
                color:$primary-color;
                text-decoration: none;
            }
        }
        .featured-project{
            margin-top: 170px;
        }
    }
    .left-section{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .more-project{
            color: $black;
            font-weight: 700;
            &:hover{
                color:$primary-color;
                text-decoration: none;
            }
        }
        .more-button{
            margin-top: 40px;
            font-family: SpaceGrotesk-Bold;
        }
        h1{
            font-size: 96px;
            line-height: 90px;
            letter-spacing: -3px;
            font-weight: 700;
        }
     }
}

//==========Services============//

.services-section{
    background-color: $bg-color;
        .subheading{
            margin-bottom: 30px;
        }
        .borders-wrapper{
            .left-site-border{
                height: 100%;
                width: 1px;
                background: $site-border-color;
                position: absolute;
                left: 71px;
            }
            .middle-site-border{
                height: 100%;
                width: 1px;
                background: $site-border-color;
                position: absolute;
                margin-left: calc(51% - 7px);
                
            }
            .right-site-border{
                height: 100%;
                width: 1px;
                background: $site-border-color;
                position: absolute;
                margin-left: calc(74% - 12px);
                
            }
        }

}


//===Common css ===

h1,
h2,
h3,
h4,
h5, 
h6{
    font-family: SpaceGrotesk-Bold;
}

.page-heading{
    font-size: 50px;
}
.pt-80{
    padding-top: 80px;
}
.pb-40{
    padding-bottom: 40px;
}
.heading{
    font-size: 38px;
    font-weight: 600;
    line-height: 1.1;
}
.bg-transparent{
    background-color: transparent;
}
.pt-70{
    padding-top: 70px;
}
.bg-black{
    background-color:$secondary-color;
}
.bg-color{
    background-color:$bg-color;
}
.description{
    font-size: 17px;
    font-weight: 600;
}
.title{
    font-size: 54px;
    line-height: 1;
}
.btn-primary{
    background-color: $secondary-color;
    color: $white;
    border-color: $secondary-color;
}
.bottom-border{
    padding-bottom: 25px;
    &::after{
        content:'';
        display: block;
        border-bottom: 1px solid rgba(136,136,136,0.8);;
        padding-top: 36px;
    }
}
.circle{
    width:50px;
    border-radius: 4px;
    border:1px solid $white;
    height: 50px;
    justify-content:center;
    display: flex;
    align-items:center;
}
.text-color{
    color: $secondary-text-color; 
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-family: SpaceGrotesk-Bold; 
}
.borders-wrapper{
    .left-site-border{
        height: 100%;
        width: 1px;
        background: $site-border-color;
        position: absolute;
        left: 71px;
        top: 0;
    }
    .middle-site-border{
        height: 100%;
        width: 1px;
        background: $site-border-color;
        position: absolute;
        margin-left: calc(51% - 7px);
        top: 0;
    }
    .right-site-border{
        height: 100%;
        width: 1px;
        background: $site-border-color;
        position: absolute;
        margin-left: calc(74% - 12px);
        top: 0;
    }
}

#page{
    padding-top: 130px;
}

//===Subtitle css ===//
.main-title{
    font-size: 54px;
    letter-spacing: -2px;
    line-height: 1.1;
}
.subtitle{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: $subTitle-color;
    font-family: SpaceGrotesk-Bold;
    &::after{
        content: '';
        border-bottom: 1px solid $subTitle-color;
        display: block;
        margin-top: 20px;
        
    }
}
//===== Capabilties===//
.capabilties-section{
    .image{
        margin-top: 80px;
        position: relative;
        padding-bottom: 51%;
            img{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                left: 0;
            }
    }
    .play-icon{
        width: 60px;
    }
    .title{
        font-size: 40px;;
    }
    .right-body{
        padding: 50px 40px 100px;
    }
}
//=====Collaboration ===//

.collaboration-section{
    background-color: $light-color;
    padding:90px 0;
    .subtitle{
        color: $secondary-text-color;
        text-transform: uppercase;
    }
    .title{
        font-size: 54px;
        line-height: 1;
    }
    .decription{
        font-size: 17px;
    }
    .contact-buttom{
        background-color: $primary-color;
        border-color: transparent;
        font-weight: 600;
        font-family: SpaceGrotesk-Bold;
            a{
                padding: 7px 7px;
                display: block;
            }
        &:hover{
            background-color: $white !important;
            border-color: transparent !important;
                a{
                    color: $secondary-color !important;
                }
        }
    }
    
}
//=== sponser ===//
.sponser-section{
    padding:100px 0 80px 0;
    .image-wrap{
        width: 120px;
        margin-bottom: 20px;
    }
}

// Product Slider 
.product-slider-section{
    padding-bottom: 105px;
    .slick-list{
        .slick-slide{
                .image-wrapper{
                        .overlay{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 100%;
                            width: 100%;
                            opacity: 0.5;
                            transition: .5s ease;
                            background-color: $secondary-color;
                            border-radius: 8px;
                        }
                        .slider-img{
                            margin: 0 20px;
                            position: relative;
                            display: block;
                            padding-bottom: 50%;
                                img{
                                    border-radius: 8px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                }
                        }
                }
        }       
    }
    .slick-slider{
        .slick-prev, 
        .slick-next{
            top: inherit;
            bottom: -100px;
            transform: inherit;
            z-index: 99;
            height: 50px;
            width: 50px;
            background-color:$gray-light;
            border-radius: 6px;
            transform: translate(-50%, -50%);
            left: 50%;
        }

        .slick-prev{
            margin-left: 65px;
                &::before{
                    content: "\F061";
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 24px;
                    color: $secondary-color;
                }
        }
        .slick-next{
                &::before{
                    content: "\F060";
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 24px;
                    color: $secondary-color;
                }
        }
    }
}

///Media Query
@media screen and (max-width:1200px){
    .banner-main-wrapper.container{
        padding: 0 25px 25px;
    }
}

@media screen and (max-width:1140px){
    .capabilties-section{
        .right-body{
            padding: 75px 60px;
        }
    }
    .collaboration-section{
        padding: 60px 10px;
    } 
    .pt-80{
        padding-top: 60px;
    }  
}
@media screen and (max-width:992px){

    ///Banner
    .banner-main-wrapper.container{
            .left-section h1{
                font-size: 60px;
                // width: 500px;
                line-height: 54px;
            }
            .right-section{
                height: 240px;
            }
    }
    #page{
        padding-top: 110px;
    }
    .pt-80{
        padding-top: 40px;
    }  
    .capabilties-section {
        .image{
            margin-top: 40px;
        }
    }
    .main-title{
        font-size: 40px;
        margin-bottom: 10px;
    }
    //services
    .services-section{
        .services-wrap{
            padding-bottom: 40px;
        }
    }
    .collaboration-section{
        .title{
            font-size: 40px;
        }
    }
 
}
@media screen and (max-width:768px){
       
    .main-title {
        font-size: 34px;
        margin-bottom: 0;
    }
    .top-wrap{
        margin: 0 0 20px 0;
    }
    .pb-40{
        padding-bottom: 0   ;
    }
    .pt-80{
        padding-top: 30px;
    }
    .pt-70{
        padding-top: 30px;
    }
    .subheading{
        font-size: 20px;
    }
    .collaboration-section .title{
        font-size: 36px;
    }
    .card-wrapper{
        margin-bottom: 40px;
    }
    .capabilties-section{
        .right-body{
            padding: 75px 50px;
        }
    } 
    .page-heading{
        font-size: 40px;
    }
    .sponser-section{
        padding: 50px 0 30px 0;
    }
    .collaboration-section {
        .contact-buttom a{
            padding: 3px 3px;
        }
    }
    .nav-fixed-top{
        padding: 12px 10px 14px ;
    }
    .banner-main-wrapper.container{
        .row{
            flex-direction: column-reverse;
            .left-section {
                margin-top: 20px;
                h1{
                    font-size: 80px;
                    line-height: 64px;
                }
            }   
            .right-section{
                background-position: center;
            }
        }
        
    }
    .product-slider-section {
        .slick-slider{
            .slick-next,
            .slick-prev{
                left: 44%;
            }
        } 
        
    }
}

@media screen and (max-width:580px){
    .banner-main-wrapper.container{
        .row{
            flex-direction: column-reverse;
            .left-section {
                margin-top: 0;
                .heading{
                    margin-bottom: 6px;
                    margin-top: 20px;
                }
                h1{
                    font-size: 66px;
                    line-height: 64px;
                }
            }
            .right-section{
                background-position: center;
                height: 210px;
            }
        }
        
    }   
    
    .product-slider-section{
        padding-bottom: 85px;
        .slick-slider{
            .slick-list{
                // padding: 0 10px !important;
            }
            .slick-next{
                right: -5px;
            }
            .slick-prev{
                margin-left: 60px;
            }
            .slick-next,
            .slick-prev{
                bottom: -85px;
                height: 45px;
                width: 45px;
                left: 39%;    
                    &::before{
                        font-size: 20px;
                    }
            }

        }
    }
    #page{
        padding-top: 80px;
    }
    .capabilties-section{
        .right-body{
            padding: 25px 15px;
        }
        .image{
            margin-top: 25px;
        }   
    }
    .collaboration-section{
        padding: 40px 10px;
        .title{
            padding-bottom: 10px;
        }
        
    }

}
@media screen and (max-width:480px){
    .collaboration-section{
        .contact-buttom{
            margin-top: 20px;   
        }
    } 
    .product-slider-section{
        padding-bottom: 85px;
        .slick-slider{
            .slick-list{
                padding: 0 50px !important;
            }
            .slick-prev{
                left: 40%;
            }
        }
    }
}

