// 3. Base stuff
// @import 'base/font';
@import "abstracts/variables";
// 4. Layout-related sections
@import 'layout/header','layout/footer';
 
@import 'component/card','component/team-card','component/accordian','component/button','component/service-card';
//pages
@import 'pages/contact','pages/about','pages/career','pages/services','pages/services-details';
//========= Home page===========//

.main-section{
    .container{
        max-width: 1300px;
    } 
}
.banner-main-wrapper.container{
    .heading{
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
    }
    .right-section{
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        height: 540px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        .featured-details{
            color: $text-black;
            font-weight: 700;
            &:hover{
                color:$primary-color;
                text-decoration: none;
            }
        }
    }
    .left-section{
        .more-project{
            color: $text-black;
            font-weight: 700;
            &:hover{
                color:$primary-color;
                text-decoration: none;
            }
        }
        .more-button{
            margin-top: 40px;
        }
     h1{
         font-size: 96px;
         line-height: 90px;
         font-weight: 700;
        }
     }
}

//==========Services============//
.services-section{
    background-color: $bg-color;
    padding: 100px 0 50px 0 ;
}
//===Common css ===//
.page-heading{
    font-size: 50px;
}
.pt-80{
    padding-top: 80px;
}
.heading{
    font-size: 38px;
    font-weight: 600;
    line-height: 1.1;
}
.bg-transparent{
    background-color: transparent;
}
.bg-black{
background-color:$bg-black;
}
.bg-color{
    background-color:$bg-color;
}
.description{
    font-size: 17px;
    font-weight: 600;
}
.mt-20{
    margin-top: 20px;
}
.f-w-500{
    font-weight: 500;
}
.secondary-text-color{
    color: $secondary-text-color;
}
.title{
    font-size: 54px;
    line-height: 1;
}
.pl-70{
    padding-left: 70px;
}
.bottom-border{
    padding-bottom: 25px;
    &::after{
        content:'';
        display: block;
        border-bottom: 1px solid rgba(136,136,136,0.8);;
        padding-top: 36px;
    }
}
.circle{
    width:50px;
    border-radius: 50%;
    border:1px solid #fff;
    height: 50px;
    justify-content:center;
    display: flex;
    align-items:center;
}
.text-color{
    color:#A4A3A6; 
    text-transform: uppercase;
    font-weight: 500;

}
//===Subtitle css ===//
    .main-title{
        font-size: 54px;
        letter-spacing: -2px;
        line-height: 1.1;
    }
    .subtitle{
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: rgba(35, 34, 38, 0.8);
        &::after{
            content: '';
            border-bottom: 1px solid rgba(136, 136, 136, 0.8);
            display: block;
            margin-top: 20px;
            
        }
    }
//===== Capabilties===//
.capabilties-section{
    .image{
        margin-top: 60px;
    }
    .play-icon{
        width: 60px;
    }
    .title{
        font-size: 40px;;
    }
    .right-body{
        padding:100px 120px
    }
}
//=====Collaboration ===//
.collaboration-section{
    background-color: #1a191d;
    padding:90px 90px;
    .subtitle{
        color: #A4A3A6;
        text-transform: uppercase;
    }
    .title{
        font-size: 54px;
        line-height: 1;
    }
  
    .decription{
        font-size: 17px;
    }
    .contact-buttom{
        background-color: $primary-color;
        border-color: transparent;
        padding: 14px 18px;
        font-weight: 600;
        &:hover{
            background-color: $primary-color;
            border-color: transparent;
        }
    }
}
//=== sponser ===//
.sponser-section{
    padding:100px 0 80px 0;
    .image-wrap{
        width: 120px;
        margin-bottom: 20px;
    }
}
///== Award ===//
.award-section {
    padding:80px 0 40px 0;
}

///Media Query
@media screen and (max-width:1140px){
    .capabilties-section{
        .right-body{
            padding: 75px 60px;
        }
    }
}
@media screen and (max-width:992px){
    ///Banner
    .banner-main-wrapper.container{
            .left-section h1{
                font-size: 60px;
                width: 500px;
                line-height: 54px;
            }
            .right-section{
                height: 340px;
            }
    }
    .main-title{
        font-size: 40px;
        margin-bottom: 10px;
    }
    //services
    .services-section{
        .services-wrap{
            padding-bottom: 40px;
           
        }
    }
 
}
@media screen and (max-width:768px){
       
    .capabilties-section{
        .right-body{
            padding: 75px 50px;
        }
    } 
    .sponser-section{
        padding: 50px 0 30px 0;
    }
}
@media screen and (max-width:580px){
    .banner-main-wrapper.container{
        .left-section h1{
            font-size: 60px;
            width: auto;
            line-height: 54px;
        }
    }
    .capabilties-section{
        .right-body{
            padding: 50px 30px;
        }
    }
}

